* {
  text-decoration: solid;
  list-style: none;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
/* .intro {
  margin: 10px;
  display: flex;
  flex-direction: row;
} */
.intro p {
  margin: 0;
  color: rgb(11, 17, 6);
  width: 300px;
  height: 200px;
  background-color: honeydew;
  border-radius: 4px;
  border: 2px, solid, red;
  border-top: hidden;
  border-right: hidden;
  position: relative;
  left: 33%;
}
.image {
  width: 12%;
  height: 20%;
  left: 53%;
  position: relative;
  border: 2px, solid, rgb(206, 78, 14);
  border-radius: 4px;
  border-left: hidden;
}
.hobby {
  margin: 0;
  color: rgb(11, 17, 6);
  width: 300px;
  height: 200px;
  background-color: honeydew;
  border-radius: 4px;
  border: 2px, solid, red;
  border-right: hidden;
  position: relative;
  left: 33%;
}
.food {
  margin: 0;
  color: rgb(11, 17, 6);
  width: 300px;
  height: 200px;
  background-color: honeydew;
  border-radius: 4px;
  border: 2px, solid, red;
  border-left: hidden;
  position: relative;
  left: 53%;
}
.hobbytag {
  width: 30%;
  height: 40%;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 47%;
}
.foodtag {
  width: 50%;
  height: 34%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 37%;
  top: 75%;
}
body {
  background-image: url(pic/bulb.jpg);
  margin: 0;
}
