* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.logo {
  height: 20%;
  width: 20%;
  position: fixed;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(pic/Tie\ white.jpg);
  background-position: top;
  background-size: cover;
}
nav {
  height: 80px;
  width: 100%;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}
nav ul {
  float: right;
  margin-right: 20px;
  left: 50px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  color: rgba(58, 10, 25, 0.76);
}
a.active,
a:hover {
  background: rgb(18, 156, 124);
  transition: 0.5s;
  cursor: pointer;
}
/* body{
  background-image: url(file:///C:/Users/Hector%20Ovie-Ufuoma/Documents/Code%E2%80%8F%F0%9F%91%93%F0%9F%97%A3%E2%9C%94/Images/photo_2024-01-30_12-37-04.jpg);
} */
.place {
  color: rgb(14, 199, 85);
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-decoration: dotted;
  text-align: center;
  font-size: 20px;
}
